.home {
	height: 100%;
}
.home-row {
	height: 100%;
	align-items: center;
}

.home-form {
	min-height: 300px;
	background-color: #F5F5F5;
	padding: 20px;
	
}

.home-title {
	margin-bottom: 20px;
	text-align: center;
}