.home {
	height: 100%;
}

.home-button {
	float: right;
	margin-right: 20px;
}

.home-input {
	margin-bottom: 10px;
}

.home-row {
	height: 100%;
	
}

.home-form {
	min-height: 300px;
	background-color: #F5F5F5;
	padding: 20px;
}

.home-title {
	margin-bottom: 120px;
	text-align: center;
}

@media only screen and (min-width: 992px) {
	.home-row {
		align-items: center;	
	}

	.home-button {
		margin-right: 0;
	}
} 

@media only screen and (max-width: 991px) {
	.home-form {
		height: 100%;
	}
} 